* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 2px solid rgb(255, 0, 98);
}

::selection {
    color: white;
    background: rgb(255, 0, 98);
}

body {
    background: hsl(360, 100%, 90%);
}

form {
    top: 50%;
    left: 50%;
    width: auto;
    display: flex;
    position: absolute;
    border-radius: 3px;
    background: white;
    padding: 0 0 0 24px;
    border-top: solid 10px gray;
    transform: translate(-50%, -50%);
    box-shadow: 3px 4px 6px 0px #969696;
    /* background: hsl(0, 0%, 84%); */
}

form .image {
    width: 450px;
    height: 432px;
    display: flex;
    background: white;
    place-items: center;
    place-content: center;
}

form .image img {
    width: 100%;
}

form .content {
    gap: 12px;
    width: 370px;
    display: flex;
    align-items: center;
    padding: 36px 48px 36px 0;
    flex-direction: column;
}

form .content .title {
    width: 100%;
}

form .content .title p {
    font-size: 21px;
    text-align: center;
    margin-bottom: 24px;
}

form .content .title p span{
    font-weight: bold;
}

form .content input, textarea {
    border: none;
    height: 40px;
    width: 320px;
    font-size: 17px;
    font-weight: 500;
    padding-left: 8px;
    border-radius: 3px;
    background: rgb(240, 230, 230);
}

form .content input::placeholder, textarea::placeholder {
    font-size: 13px;
    font-weight: 500;
    font-family: sans-serif,cursive;
    color: hsl(0, 0%, 50%);
}

form .content textarea {
    height: 80px;
    padding-top: 12px;
}

.form .content .bottom-btn {
    width: 100%;
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}

form .content .bottom-btn {
    width: 100%;
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}

#btn--cancel {
    width: 47%;
    height: 40px;
    background: none;
    border: solid 3px hsl(0, 8%, 80%);
}

#submit {
    width: 47%;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background: hsl(0, 8%, 80%);
}

@media (max-width: 850px) {
    form {
        width: 90%;
        padding: 0;
        margin: 50px 0;
        max-width: 450px;
        flex-direction: column;
    }
    form .image {
        width: 100%;
        height: fit-content;
    }
    form .content {
        width: 100%;
        padding: 36px 48px;
    }

    form .content input,textarea{
        width: 100%;
    }
}