html {
    scale: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: hsl(360, 100%, 90%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: 2px solid rgb(255, 0, 98);
}

::selection {
    color: white;
    background: rgb(255, 0, 98);
}

.form {
    margin: 5rem;
    width: fit-content;
    height: auto;
    display: flex;
    border-radius: 5px 5px 0 0;
    background: hsl(0, 10%, 95%);
    box-shadow: 3px 4px 6px 0px #969696;
    border-top: solid 15px rgba(65, 70, 71, .5);
}

.form .content {
    gap: 30px;
    width: fit-content;
    height: 100%;
    padding: 30px 75px;
    display: flex;
    flex-direction: column;
}

.form .content .btn--close {
    width: 100%;
    display: grid;
    justify-content: right;
}


.form .content .btn--close button {
    height: 38px;
    width: 38px;
    background: none;
    font-weight: 700;
    border: solid 2px hsl(0, 8%, 80%);
}


.form .content .paragraph {
    gap: 8px;
    width: 100%;
    display: flex;
    margin: 0 0 22px 0;
    align-items: baseline;
}

.form .content .paragraph p {
    font-size: 20px;
    font-weight: bold;
}

.form .content .paragraph a{
    color: black;
}

.form .content .paragraph span p{
    color: gray;
    font-weight: 400;
}

.form .content .input_container {
    position: relative;
}

.form .content .input_container label{
    z-index: 5;
    left: 1px;
    bottom: 100%;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    background: hsl(0, 10%, 95%);
}

.form .content .input_container input {
    height: 40px;
    width: 300px;
    font-size: 16px;
    padding-left: 15px;
    border-radius: 3px;
    background: hsl(0, 0%, 100%);
    border: 3px solid hsl(0, 8%, 80%);
}

.form .content .bottom-btn {
    width: 100%;
    display: flex;
    margin: 22px 0 33px 0;
    justify-content: space-between;
}

.form .content .bottom-btn input,
button {
    width: 47%;
    height: 40px;
    cursor: pointer;
}

#btn--cancel {
    background: none;
    border: solid 3px hsl(0, 8%, 80%);
}

#submit {
    padding-left: 0;
    font-weight: 700;
    background: hsl(0, 8%, 80%);
    border: none;
}